#e6ng-settings {
    position: fixed;
    top: 70px;
    right: 70px;
    width: 50%;
    height: 50%;
    background-color: #274c83;
    z-index: 50;
    display: flex;
    flex-flow: column;
    border: 1px solid #152f56;
    box-shadow: black 0px 0px 10px -5px;
    border-radius: 6px;
}

#e6ng-settings-dragable {
    height: 35px;
    cursor: move;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
    line-height: 30px;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    background-color: #1f3c67;
}

#e6ng-settings-close {
    float: right;
    font-size: 1.25rem;
    cursor: pointer;
}

#e6ng-settings-tabbar {
    margin: 0 0.5rem;
}

.e6ng-settings-tab {
    display: inline-block;
    color: lightgrey;
    margin: 0 0.5rem;
    cursor: pointer;
}

.e6ng-settings-tab-selected {
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: #1f3c67;
}

#e6ng-settings-content {
    height: 100%;
    border-radius: 5px;
    overflow: auto;
    margin: 0.25rem 1rem 1rem;
}

.e6ng-tab-content {
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.e6ng-tinyalias-title {
    width: 100%;
}

.e6ng-tinyalias-content {
    min-width: 250px;
    width: 100%;
}

.e6ng-tinyalias-content {
    width: 100%;
}

.e6ng-link {
    display: inline-block;
    white-space: pre;
    color: #b4c7d9;
    cursor: pointer;
}

.e6ng-link:hover {
    color: #2e76b4;
}

.e6ng-settings-alias-name {
    text-align: center;
}

.e6ng-quicklinks-title {
    width: 25px;
}

.e6ng-dtext-format-button {
    width: 60px !important;
    height: 100% !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
}

.e6ng-dtext-format-button:hover {
    background-color: rgb(34, 65, 115) !important;
}

.e6ng-small-margin {
    margin: 5px 5px 5px 5px;
}

.e6ng-small-padding {
    padding: 5px 5px 5px 5px;
}

.e6ng-tag-status-div {
    margin-top: 5px;
    height: 8px;
}

.e6ng-extra-menuentry {
    padding: 0px 10px;
}

.e6ng-extra-quicklinks {
    padding: 0px 4px;
    font-weight: bold;
}

.e6ng-inline {
    display: inline;
}

.e6ng-float-right {
    float: right;
}

.e6ng-float-left {
    float: left;
}

.e6ng-invisible {
    display: none !important;
}

.e6ng-rating-safe {
    color: #3e9e49;
}

.e6ng-rating-questionable {
    color: #ffe666;
}

.e6ng-rating-explicit {
    color: #e45f5f;
}


/* Modifications to the original theme */

div#c-posts div.bottom-notices {
    display: block;
}

#has-children-relationship-preview {
    display: grid;
}
